
.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-cell {
	flex: 0 0 100%;
}

@media (min-width:768px){
	.grid-cell {
		flex: 1;
	}
}


.grid-flex-cells > .grid-cell {
  display: flex;
}

@media (min-width:768px){
	.grid-fit > .grid-cell {
		flex: 1;
	}
}




