@charset "utf-8";

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-cell {
	flex: 0 0 100%;
}

@media (min-width:768px){
	.grid-cell {
		flex: 1;
	}
}


.grid-flex-cells > .grid-cell {
  display: flex;
}

.grid-fit > .grid-cell {
	flex: 0 0 100%;
}

@media (min-width:768px){
	.grid-fit > .grid-cell {
		flex: 1;
	}
}

.grid-gutters {
  margin: -1em 0 1em -1em;
}
.grid-gutters > .grid-cell {
  padding: 1em 0 0 1em;
}

.panel-default{
  width:100%;
  /*padding:.8em 1em 0;*/
  background:#FFF;
  border-radius:3px;
  box-shadow: #bbb 0px 3px 0px;
}

:not(.filter-content .panel-default)::after{content:'\00a0';  
  display:block;  
  margin-top:1em; 
  height:0; 
  visibility:hidden
}



